In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import pickle

In [16]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [23]:
# Drop columns only if they exist
columns_to_drop = ['RowNumber', 'CustomerId', 'Surname']
existing_columns = [col for col in columns_to_drop if col in data.columns]
if existing_columns:
    data = data.drop(existing_columns, axis=1)
    print(f"Dropped columns: {existing_columns}")
else:
    print("Columns already dropped or don't exist")
data.head()

Columns already dropped or don't exist

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [1]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

NameError: name 'LabelEncoder' is not defined

In [40]:
oneohot_encoder_geo=OneHotEncoder()
geo_encoder = oneohot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder.toarray()
oneohot_encoder_geo.get_feature_names_out(['Geography'])

geo_encoded_df = pd.DataFrame(geo_encoder.toarray() , columns=oneohot_encoder_geo.get_feature_names_out(['Geography']))

data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

KeyError: "None of [Index(['Geography'], dtype='object')] are in the [columns]"

In [41]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [42]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(oneohot_encoder_geo,file)

In [ ]:
X = data.drop('Exited',axis=1)
y = data['Exited']
X_train,X_test,y_train,y_test = train_test_split(X,y ,test_size=0.2,random_state=42)

scaler = StandardScaler()
X_train-scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
9254          686       1  ...                0.0              0.0
1561          632       1  ...                1.0              0.0
1670          559       1  ...                0.0              1.0
6087          561       0  ...                0.0              0.0
6669          517       1  ...                0.0              0.0
...           ...     ...  ...                ...              ...
5734          768       1  ...                0.0              0.0
5191          682       0  ...                0.0              0.0
5390          735       0  ...                0.0              0.0
860           667       1  ...                0.0              0.0
7270          697       1  ...                1.0              0.0

[8000 rows x 12 columns]

In [ ]:

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(oneohot_encoder_geo,file)



with open('scaler.pkl','wb') as file:
    pickle.dump(scaler    ,file)

ANN Implementaion

In [57]:
import tensorflow as tf
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [62]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),#Hl1
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
    
])

In [68]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.losses.BinaryCrossentropy()
loss

model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [80]:
log_dir='logs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')

tensorflow_callback=TensorBoard(log_dir , histogram_freq=1)

In [81]:
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=10,restore_best_weights=True)
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4881 - val_accuracy: 0.8035
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5082 - accuracy: 0.7945 - val_loss: 0.4885 - val_accuracy: 0.8035
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5076 - accuracy: 0.7945 - val_loss: 0.4885 - val_accuracy: 0.8035
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5079 - accuracy: 0.7945 - val_loss: 0.4887 - val_accuracy: 0.8035
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5082 - accuracy: 0.7945 - val_loss: 0.4892 - val_accuracy: 0.8035
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5081 - accuracy: 0.7945 - val_loss: 0.4883 - val_accuracy: 0.8035
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5082 - accuracy: 0.7945 - val_loss: 0.4881 - val_accuracy: 0.8035
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4900 - val_accuracy: 0.8035
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5081 - accuracy: 0.7945 - val_loss: 0.4903 - val_accuracy: 0.8035
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5081 - accuracy: 0.7945 - val_loss: 0.4886 - val_accuracy: 0.8035
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4882 - val_accuracy: 0.8035

In [76]:
model.save('model.h5')

c:\Users\Hasan\Desktop\Desktop Projects\Data sceince Projects\machin learning\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [77]:
%load_ext tensorboard

In [82]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 13716), started 0:00:34 ago. (Use '!kill 13716' to kill it.)